.card {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
               -20px -20px 60px #ffffff;
}

.photo {
		width: 124px;
		height: 124px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5em;
		border-radius: 100%;
		box-shadow: $shadow;
}
